@charset "UTF-8";

   /* すべてのwebページに適用される*/
   html {
       font-family: sans-serif;
   }
   
   body {
     background-color: #eeece9;
   }
   
   h1 {
       text-align: center;
   }
   
   
   h2 {
       font-size: 35px;
       text-align: center;
   }
   
   h3 {
       font-size: 25px;
       text-align: center;
   }
   
  
.nav li {
    font-size: 35;
    display: inline;
    list-style-type: none;
}  
